{% extends "yap/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Account Inactive" %}{% endblock %}

{% block content %}

		<h1>{% trans "Account Inactive" %}</h1>
		<hr>
		{% if messages %}
		    {% for message in messages %}
		    <div class="alert {% if message.tags %} {{ message.tags }} {% endif %} alert-dismissible fade show" role="alert">
		      {{ message }}
		      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		        <span aria-hidden="true">&times;</span>
		      </button>
		    </div>
		    {% endfor %}
		{% endif %}

		<p>{% trans "This account is inactive." %}</p>


{% endblock %}
