{% extends "yap/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

  <div class="row justify-content-center" style="margin-top:30px;width:100%" >
    <div>

	    <h1>{% trans "Change Password" %}</h1>
	    <hr>

		{% if messages %}
		    {% for message in messages %}
		    <div class="alert {% if message.tags %} {{ message.tags }} {% endif %} alert-dismissible fade show" role="alert">
		      {{ message }}
		      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		        <span aria-hidden="true">&times;</span>
		      </button>
		    </div>
		    {% endfor %}
		{% endif %}

	    <p>{% trans 'Your password is now changed.' %}</p>

    </div>
  </div>


{% endblock %}
