{% extends "yap/base.html" %}
{% load crispy_forms_tags %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

	    <h1>{% trans "Change Password" %}</h1>
	    <hr>

		{% if messages %}
		    {% for message in messages %}
		    <div class="alert {% if message.tags %} {{ message.tags }} {% endif %} alert-dismissible fade show" role="alert">
		      {{ message }}
		      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		        <span aria-hidden="true">&times;</span>
		      </button>
		    </div>
		    {% endfor %}
		{% endif %}
		<br>

	    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
	        {% csrf_token %}
	        {{ form|crispy }}
	        <button type="submit" name="action" class="btn btn-primary">{% trans "Change Password" %}</button>
	    </form>


	    <br><br><br>
		<a href="{% url 'profile' %}" ><i class="fas fa-backward"></i> Back</a>


{% endblock %}
