{% extends "yap/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}

	    <h1>{% trans "Set Password" %}</h1>
	    <hr>

		{% if messages %}
		    {% for message in messages %}
		    <div class="alert {% if message.tags %} {{ message.tags }} {% endif %} alert-dismissible fade show" role="alert">
		      {{ message }}
		      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		        <span aria-hidden="true">&times;</span>
		      </button>
		    </div>
		    {% endfor %}
		{% endif %}
		<br>

	    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
	        {% csrf_token %}
	        {{ form.as_p }}
	        <input type="submit" name="action" value="{% trans 'Set Password' %}"/>
	    </form>

{% endblock %}
