{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-168772867-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-168772867-1');
    </script>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" href="{% static 'yap/favico.ico' %}" type="image/gif" sizes="16x16"> 
    <link rel="stylesheet" href="{% static 'yap/main.css' %}" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap" rel="stylesheet"> 

    <script src="https://kit.fontawesome.com/c4e85aab00.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script src="{% static 'yap/main.js' %}" ></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="{% static 'yap/linkify.min.js' %}"></script>
    <script src="{% static 'yap/linkify-jquery.min.js' %}"></script>

    <title>YapSpot • {% block title %}Online video chat meetups with friends, old and new.{% endblock %}</title>
  </head>
  <body>

  <nav class="navbar navbar-dark navbar-expand-sm bg-dark">
    {% if request.user.is_authenticated %}
      <a class="navbar-brand" style="font-family: 'Chelsea Market', cursive; font-style: italic;" href="{% url 'dashboard' %}">YapSpot</a>
    {% else %}
      <a class="navbar-brand" style="font-family: 'Chelsea Market', cursive; font-style: italic;" href="{% url 'index' %}">YapSpot</a>
    {% endif %}

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-toggle-target" aria-controls="navbar-toggle-target" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar-toggle-target">
        <ul class="navbar-nav" >

            {% if request.user.is_authenticated %}
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
              </li>
            {% endif %}

            <li class="nav-item active">
              <a class="nav-link" href="{% url 'grouplist' %}">Find Groups</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'eventlist' %}">Find Events</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'contact' %}">Contact</a>
            </li>

            {% if request.user.is_authenticated %}
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'profile' %}">Profile</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
              </li>

            {% else %}
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'account_login' %}">Login</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'custom_signup' %}">Sign Up</a>
              </li>
            {% endif %}

        </ul>
    </div>
  </nav> 
    
  <div class="container">
    <br><br>
    {% block content %}
    {% endblock %}
    <br><br><br>
  </div>


    <script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=5ed06503e15c0d001255510d&product=inline-share-buttons" async="async"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- XDSoft DateTimePicker -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>

   <button onclick="topFunction()" class="btn btn-secondary" id="topButton" title="Go to top"><i class="fas fa-arrow-alt-circle-up"></i> Top</button>


  </body>
</html>