{% extends "yap/base.html" %}
{% block content %}

<h1 class="text-center">Events -- Hosting</h1>
<hr>

{% if messages %}
    {% for message in messages %}
    <div class="alert {% if message.tags %} {{ message.tags }} {% endif %} alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %}
{% endif %}

<div class="text-center">
	<h1>{{ this_profile }}</h1>
	<img src="{{ this_profile_avatar_url }}" class="avatar-photo profile-avatar" >
</div>
<br><br>


<div class="text-center">
	<a href="{% url 'profileevents' %}" class="inline-link"><i class="fas fa-calendar-alt"></i> All My Events</a>
	<span class="inline-link-selected"><i class="fas fa-calendar-alt"></i> My Events -- Hosting</span>
	<a href="{% url 'profileeventsattendee' %}" class="inline-link"><i class="fas fa-calendar-alt"></i> My Events -- Attending</a>
	<a href="{% url 'profileeventspast' %}" class="inline-link"><i class="fas fa-calendar-alt"></i> My Past Events<a>
	<a href="{% url 'eventlist' %}" class="inline-link"><i class="fas fa-calendar-alt"></i> Find Events</a>
	<a href="{% url 'profile' profile_id=request.user.pk %}" class="inline-link"><i class="fas fa-user-circle"></i> Back to Profile</a>
</div>

<hr>

<div id="event-div-container" >
	<yapeventtemplate
		v-bind:all_events_json="all_events_json"
	></yapeventtemplate>
</div>


{% if all_events.has_other_pages %}
	<br>
	<nav>
	  <ul class="pagination justify-content-center">

	    {% if all_events.has_previous %}
	      <li class="page-item">
	      	<a href="?page={{ all_events.previous_page_number }}" class="page-link">&laquo;</a>
	      </li>
	    {% else %}
	      <li class="page-item disabled">
	      	<span class="page-link">&laquo;</span>
	      </li>
	    {% endif %}

	    {% for i in all_events.paginator.page_range %}
	      {% if all_events.number == i %}
	        <li class="page-item active">
	        	<span class="page-link">{{ i }}</span>
	        </li>
	      {% else %}
	        <li class="page-item"><a href="?page={{ i }}" class="page-link">{{ i }}</a></li>
	      {% endif %}
	    {% endfor %}

	    {% if all_events.has_next %}
	      <li class="page-item">
	      	<a href="?page={{ all_events.next_page_number }}" class="page-link">&raquo;</a>
	      </li>
	    {% else %}
	      <li class="page-item disabled">
	      	<span class="page-link">&raquo;</span>
	      </li>

	    {% endif %}
	  </ul>
	</nav>
{% endif %}


<script>
	new Vue({
	  el: '#event-div-container',
	  data: {
	    all_events_json: {{ all_events_json|safe }}
	  },
	})
</script>



{% endblock %}